*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Cairo', Courier, monospace;
}

:root{
    --DarkBlue: #00264D;
    --VeryDarkBlue: #00172D;
    --Black: #000B18;
    --Green: #00CCCC;
    --MidGreen: rgba(0,204,204,0.2);
    --DarkGreen: #004958;
    --logofont: font-family: 'Sen', sans-serif;
    --textfont:  'Cairo', Courier, monospace;
}

body{
    background-image: linear-gradient(45deg, var(--Black) 30%, var(--VeryDarkBlue) ,var(--DarkBlue) );
}

.wrapper{
    margin: 0 auto;
    width: 1050px;
}

section{
    height: 100vh;
}

h2{
    color: var(--Green);
    font-size: 40px;
    font-weight: 700;

}
/* Nav bar Start */
nav{
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;

}


.logo a{
    color: var(--Green);
    font-family:var(--logofont);
    font-weight: 700;
    font-size:xx-large;
}

nav ul li{
    list-style: none ;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--textfont);
    font-weight: 600;
    transition: 400ms all;
}
nav ul li:not(:last-child) a::after{
    content: "";
    background-color: var(--Green);
    display: block;
    height: 3px;
    border-radius: 15px;
    width: 0%;
    transition: width 500ms;
}
nav ul li:not(:last-child) a:hover:after{
    width: 100%;
}

nav ul li:last-child{
    border: 3px solid var(--Green);
    border-radius: 15px;
    margin-left:10px;
}
nav ul li:last-child:hover{
    background-color: var(--MidGreen);
}
/* Nav bar End */

/* Hero Section Start */
.heroContent{
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: -10px;
}
.heroContent h1{
    font-weight: 400;
    font-size: 75px;
}
.heroContent p{
    color: lightgray;
}
.heroContent span{
    color: var(--Green);
    font-family:var(--logofont);
    font-weight: 800;

}

.blob1{
    position: absolute;
    z-index: -1;
    animation: move1 25s ease-in-out infinite;
    margin-top: 3rem;
    transform-origin: 50% 50%;
    /* margin-left: 30vw; */
}

@keyframes move1{
    0% {
        transform: scale(1) translate(30vw, 10px);
    }
    50%{
        transform: scale(0.8,1) translate(10vw, 0) rotate(-45deg);
        
    }
    100% {
        transform: scale(1) translate(30vw, 10px);
    }
}
.blob2{
    position: absolute;
    z-index: -3;
    animation: move 30s ease-in-out infinite;
    transform-origin: 60% 50%;
}

@keyframes move{
    0% {
        transform: scale(1) translate(30vw, 10px);
    }
    50%{
        transform: scale(0.8,1) translate(0, 0) rotate(180deg);
        
    }
    100% {
        transform: scale(1) translate(30vw, 10px);
    }
}

/* Hero Section End */


/* About Section Start */

.aboutMe{
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
}
.aboutMe::after{
    content: '';
    background: var(--DarkGreen);
    display: block;
    position: relative;
    width: 80%;
    height: 2px;
    top: 5px;
    margin-left: 30px;
    
}
.aboutContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.picContainer{
    width: 400px;
    height: 400px;
    
}
.profilePicContainer{
    border: 4px solid var(--Green);
    border-radius: 50px;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--DarkGreen);
}
.profilePicContainer img{
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 50px;
    
}
.animationLine{
    position: absolute;
    border: 4px solid var(--Green);
    border-radius: 50px;
    width: 360px;
    height: 360px;
    transition: all 1s ease-in-out;
    z-index: -1;

}


.picContainer:hover #border1
{
   transform: rotate(70deg);
}
.picContainer:hover #border2
{
    transform: rotate(45deg);
}
.picContainer:hover #border3
{
    transform: rotate(23deg);
}
#aboutSection .description{
    display: flex;
    width: 50%;
    border: 2px solid yellow;
    /* background-image: linear-gradient(); */
}
.desNav{
    border: 2px solid plum;
    width: 600px;
    height: 10%;
    background-color: var(--DarkGreen);
}
.desNav ul{
    display: flex;
    justify-content:space-between;
    list-style: none;
}
.desNav ul li{
    margin: auto;
}
.desNav ul li a{
    text-decoration: none;
    color: white;
}

/* Aboout Section End */