*{
    text-decoration: none;
    font-family:  'Cairo', Courier, monospace;
    padding: 0;
    margin: 0;
}

:root{
    --lightBlue: #067d9e;
    --lightGrey: #C7C7C7;
    --DarkBlue: #00264D;
    --VeryDarkBlue: #00172D;
    --Black: #000B18;
    --Green: #00CCCC;
    --MidGreen: rgba(0,204,204,0.2);
    --DarkGreen: #004958;
    --logofont: 'Sen', sans-serif;
    --textfont:  'Cairo', Courier, monospace;
    --fs-xxxl: clamp(0.1rem, 3vw + 1rem, 4rem);
}
html {
    scroll-behavior: smooth;
  }

body{
    background-image: linear-gradient(45deg, var(--Black) 30%, var(--VeryDarkBlue) ,var(--DarkBlue) );
}

.wrapper{
    margin: 0 auto;
    width: 80%;
    flex-wrap: wrap;
    /* gap: 2em; */
}

/* 
.wrapper > *{
    flex-basis: 90%;
    flex-grow: 1;
} */
/* 
section{
    height: 100vh;
} */
header:not(:nth-child(1)){
    flex-basis: 100%;
}
h2{
    color: var(--Green);
    font-size: 40px;
    font-weight: 700;

}
p{
    font-size: 15px;
}
/* Nav bar Start */
nav{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 90%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99999;
    padding: 0 5%;
    transition: all 300ms ease-in-out;

}

nav ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.logo a{
    position: relative;
    color: var(--Green);
    font-family:var(--logofont);
    font-weight: 700;
    font-size:xx-large;
}
nav ul li{
    position: relative;
    list-style: none ;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-family: var(--textfont);
    font-weight: 400;
    transition: 400ms all;
    font-size: 18px;
}
nav ul li:not(:nth-child(5)) a::after{
    content: "";
    background-color: var(--Green);
    display: block;
    height: 3px;
    border-radius: 15px;
    width: 0%;
    transition: width 500ms;
}
nav ul li:not(:last-child) a:hover:after{
    width: 100%;
}

nav ul li:nth-child(5){
    border: 3px solid var(--Green);
    border-radius: 15px;
    margin-left:10px;
}
nav ul li:nth-child(5):hover{
    background-color: var(--MidGreen);
}
nav .socialLinks{
    display: none;
}
nav .socialLinks .linksContainer a{
    border: none;
    border-radius: 50%;
    color: var(--Green);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms ease-in-out;
}

.scrollDown nav{
    transform: translate3d(0, -100%, 0);
}
.scrollUp nav{
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 10px  var(--VeryDarkBlue);
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--Green);
    margin: 5px;
    border-radius: 10px;
    z-index: 9999;
}
.line2{
    transform: translateX(-5px);
    transition: all 200ms ease;
}

/* Nav bar End */

/* Hero Section Start */
.heroContent{
    height: 25vh;
    color: var(--lightGrey);
    display: grid;
    grid-template-columns: 1fr;
    padding: 40vh 0;
}
.heroHeading{
    height: min-content;
}
.heroContent h1{
    font-weight: 400;
    font-size: var(--fs-xxxl);
    margin: 0;
}
.heroContent p{
    height: fit-content;
    color: lightgray;
    font-size: 20px;
}
.heroContent span{
    color: var(--Green);
    font-family:var(--logofont);
    font-weight: 800;

}

.blob1{
    position: absolute;
    z-index: -1;
    animation: move1 25s ease-in-out infinite;
    margin-top: 3rem;
    transform: translateY(90px);
    transform-origin: 50% 50%;
}

@keyframes move1{
    0% {
        transform: scale(1) translate(30vw, 10px);
    }
    50%{
        transform: scale(0.8,1) translate(10vw, 0) rotate(-45deg);
        
    }
    100% {
        transform: scale(1) translate(30vw, 10px);
    }
}
.blob2{
    position: absolute;
    z-index: -3;
    animation: move 30s ease-in-out infinite;
    transform-origin: 50% 50%;
}

@keyframes move{
    0% {
        transform: scale(1) translate(30vw, 0px);
    }
    50%{
        transform: scale(0.8,1) translate(0, 180px) rotate(180deg);
        
    }
    100% {
        transform: scale(1) translate(30vw, 0px);
    }
}

/* Hero Section End */


/* About Section Start */
.aboutHeadingContainer{
    width: 100%;
}

.aboutLine{
    width: 100%;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.aboutLine::after{
    content: '';
    background: var(--MidGreen);
    position: absolute;
    width: 82%;
    height: 3px;
    margin:auto; 
    right: 0;
}
.aboutContainer{
    margin: 5rem 2rem;
    display: grid;
    /* grid-template-columns: 1fr ; */
    grid-template-areas: "picContainer description";

}


.picContainer{
    grid-area: picContainer;
    width: 400px;
    height: 400px;
    
}
.profilePicContainer{
    border: 4px solid var(--Green);
    border-radius: 50px;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--DarkGreen);
}
.profilePicContainer img{
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 50px;
    
}
.animationLine{
    position: absolute;
    border: 4px solid var(--Green);
    border-radius: 50px;
    width: 360px;
    height: 360px;
    transition: all 1s ease-in-out;
    z-index: -1;
    transform: rotate(70deg);
}

.picContainer:hover #border1
{
   transform: rotate(70deg);
}
.picContainer:hover #border2
{
    transform: rotate(45deg);
}
.picContainer:hover #border3
{
    transform: rotate(23deg);
}
.description{
    grid-area: description;
    display: flex;
    width:min-content;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.desNav{
    width: 400px;
    height: 2em;
    margin: 0 auto;
    border-bottom: 3px solid var(--DarkGreen);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* transform: skewX(-13deg); */
}
.desNav ul{
    display: flex;
    align-items: center;
    justify-content:space-around;
    list-style: none;
    width: 100%;
}
.desNav ul li{
    padding: 1px 10px;
    border-bottom: 2px solid var(--DarkGreen);
}
.desNav ul li:hover{
    border-bottom: 2px solid var(--Green);
    
}
.desNav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.description .contentBoxes{
    color: white;
    width: 50%;
    margin:auto 0;
    background-color:var(--MidGreen);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px var(--Green);
}
/* Aboout Section End */

/* FadedCircle 1 Start */
.fadedCircle{
    position: absolute;
    width: 20rem;
    height: 40rem;
    /* border-top-left-radius: 50% 100% ; */
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
    border-bottom-left-radius: 0;
    background-image: linear-gradient(90deg, var(--Green), transparent);
    z-index: -9999;
    filter: blur(7rem);
    -webkit-filter: blur(7rem);
}
/* FadedCircle 1 End */

/* Skill Section Start */

.skillLine{
    width: 100%;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillLine::after,.skillLine::before{
    content: '';
    background: var(--DarkGreen);
    position: absolute;
    width: 40%;
    height: 3px;
    margin:auto; 
}

.skillLine::after{
    left: 0;
}
.skillLine::before{
    right: 0;
}
.skillsContainerRow1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-template-areas: 
    "Tech FrontEnd Programming";
    margin: 2rem 3rem 0 3rem;
    height: 320px;   
}
.skillsContainerRow2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-template-areas: 
    "Design AppDev";
    height: 320px;   
    margin: 0 3rem 2rem 3rem;
}
#tech{
    
    grid-area: Tech;
    justify-self: end;
    align-self:flex-end;
}
#frontEnd{
    
    justify-self: center;
    align-self:flex-start;
    grid-area: FrontEnd;
}
#programming{
    justify-self: start;
    align-self:center;
    grid-area: Programming;
}
#design{
    grid-area: Design;
    justify-self: end;
    align-self:flex-end;
}
#appDev{
    grid-area: AppDev;
}
.skills{
    width: 280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--DarkBlue);
    text-align: center;
    border-radius: 1rem;
}
 .imagesContainer{
    height: 7rem;
    width: 100%;
}

.imagesContainer{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.skills .contentContainer{
    color: lightgray;
    padding: 1rem 3rem;
    
}
/* Skill Section End */

#blueFadeCrl{
    right: 0;
    position: absolute;
    width: 25rem;
    height: 50rem;
    border-top-left-radius: 100% 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 100% 50%;
    background-image: linear-gradient(-90deg, var(--lightBlue), transparent);
    z-index: -9999;
    filter: blur(7rem);
    -webkit-filter: blur(7rem);
}

/* Project Section Start */
#projectSection{
    margin-top: 10rem;
    height: 200vh;
}
.projectLine{
    width: 100%;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.projectLine::after{
    content: '';
    background: var(--MidGreen);
    position: absolute;
    width: 85%;
    height: 3px;
    margin:auto; 
    right: 0;
}
.softwareContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.projectContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.projectSubHeading{
    font-size: 28px;
}
.porjectsContainer{
    width: 27%;
    background-color: var(--DarkBlue);
    border-radius: 5px;
    padding: 20px 20px;
    
}
.porjectsContainer span{
    color: var(--lightGrey);
    font-size: 15px;
}
/* Software Projects End */

/* Web Dev Start */
.webDevContainer{
    position: relative;
    color: white;
    margin-top: 30vh;
    height: 65vh;
    display: flex;
    
}
.leftBox{
    position: absolute;
    background-color: var(--DarkBlue);
    padding: 2rem 3rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px 10px var(--VeryDarkBlue);
    margin-left: 5rem;
}
.leftBox a i{
    margin-left: 10px;
    color: var(--Green);
    transform: scale(0.8);
    transition: all 200ms ease-in-out;
}
.leftBox a i:hover{
    transform: scale(0.9);
}

.fa-caret-right{
    color: var(--Green);
    margin-inline:auto ;
    margin-right: 10px;
}
.rightBox{
    position: relative;
    background-color: var(--DarkGreen);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    margin: 4rem 0 0 15rem;
    width: 70%;
    padding-top: 1rem;
    z-index: -2;
}
.rightBox img{
    width: 65%;
    height: 70%;
    margin-top: 20px;
}
/* Web Dev End */

/* Project Section End */


/* Contact Start */
.contactLine{
    width: 100%;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contactLine::after{
    content: '';
    background: var(--MidGreen);
    position: absolute;
    width: 85%;
    height: 3px;
    margin:auto; 
    right: 0;
}

.contactContentContainer{
    color:rgba(255, 255, 255, 0.805);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 80vh;
    margin-top: 2rem;
}
.contactContentContainer h3{
    font-size: 35px;
    margin: 0;
}

.contactContentContainer p{
    color: var(--lightGrey);
    font-size: 20px;
    margin: 0;
}
.contactContentContainer a button{
    background: transparent;
    border: 3px solid var(--Green); 
    border-radius: 10px;
    height: 3rem;
    padding: 0 2rem;
    color: var(--Green);
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactContentContainer a button:hover{
    transform: scale(1.1);
    background-color: var(--DarkGreen);
}

.socialLinks{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}
.linksContainer a{
    border: 2px solid var(--Green);
    border-radius: 50%;
    color: var(--DarkBlue);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms ease-in-out;
}
.linksContainer a:hover{
    border: 2px solid var(--Green);
    color: var(--Green);
    background-color: var(--DarkGreen);
}
.contactContentContainer button h4{
    font-size: 25px;
}
/* Contact End */
.wave{
    position: relative;
}
.waves{
    position: absolute;
    z-index: -10;
    bottom: 0;
}

/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 767px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        /* width: 46vw; */
        top: 0vh;
        background-image: linear-gradient(45deg, #003333, #001128);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top-left-radius: 80% 50%;
        border-top-right-radius: 0 0;
        border-bottom-right-radius: 0 0;
        border-bottom-left-radius: 100% 50%;
        transform:  translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        z-index: 9999;
    }
    .nav-active{
        transform:  translateX(0%);
    }
    nav .socialLinks{
        display: flex;
        margin-top: 20px;
    }
    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .burgerMove .line2{
        transform: translateX(5px);
    }

    .aboutContainer{
        /* grid-template-columns: 1fr; */
        grid-template-areas: 
        "picContainer" 
        "description";
    }
    .skillsContainerRow1{
        position: relative;
        display: grid;
        grid-template-columns: none;
        grid-column-gap: 1rem;
        grid-template-areas: 
        "Tech" "FrontEnd" "Programming";
        height: max-content;
        justify-content: center;
        align-items: center;
        grid-row-gap: 2rem;
    }
    .skillsContainerRow2{
        position: relative;
        display: grid;
        grid-template-columns: none;
        grid-column-gap: 1rem;
        grid-template-areas: 
        "Design" "AppDev";
        height: max-content;  
        justify-content: center;
        align-items: center; 
        grid-row-gap: 2rem;
        margin-top: 2rem;
    }
    .aboutLine::after{
        width: 68%;
    }

}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    
}
